# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment Variables
.env
*.env

# Node / Frontend
node_modules/
dist/
build/

# Editor / System files
.vscode/
.DS_Store

# FastAPI / Uvicorn
*.log